#fx .unit{
    height: 60px;
}
#fx .unit input{
    height:45px;
    text-align:right;
}
#fx .unit select{
    background-color:#f7f7f7;
    height:35px;
}

/* charts */
.line {
    fill: #0073c528;
    stroke: #0072c5;
    stroke-width: 2px;
    opacity: .6;
    shape-rendering: geometricPrecision;
}
.axis line{ /* the tick marks on axis */
    stroke: #999;
}
.axis path{
    stroke: #fff;
    stroke-width: 3px;
}
.axis text{
    fill: #666;
}
.rightAxis line{ /* the tick marks on axis */
    stroke: #fff;
}
.rightAxis path{
    stroke: #fff;
    stroke-width: 3px;
}
.rightAxis text{
    fill: #fff;
}
/* tooltips */
.overlay {
    fill: none;
    pointer-events: all;
}
.focus circle {
    fill: #0073c528;
    stroke: #0072c5;
    stroke-width: 5px;
}
.hover-line {
    stroke: #333;
    stroke-width: 1px;
    stroke-dasharray: 1,1;
}
.y-hover-line{ /* hide this...seems to be a bug... */
    stroke: #fff;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background:transparent;
    border: 0px;
    pointer-events: none;
}
