hr{
    margin:0px;
}
.icon-large {
    font-size: 55px;
}
.icon-large::before {
    margin:0px;
    margin-left:5px;
}
.icon-sun{
    color:#fdb813;
}
.icon-fahrenheit,.icon-celcius{
    display:inline-block;
    position:relative;
    color:#000;
    text-shadow:1px 1px 1px #fefefe;
    font-size:25px;
    margin-left:0px;
    text-align:left;
    padding:0px;
    line-height:10px;
}
.icon-fahrenheit::before,.icon-celcius::before{
    margin-left:0px;
    margin-top:0px;
}
.forecast{
    vertical-align: middle;
    display:inline-block;
    box-shadow:rgba(0,0,0,.25) 0 1px 2px 0;
    text-align:center;
    font-size:12px;
    width:75px;
    height: 155px;
    padding:9px 5px;
}

