.quote-arrow{
    font-size: 22px;
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.quote-arrow-up {
    border-bottom: 12px solid #006D21;
}
  
.quote-arrow-down {
    border-top: 12px solid #C80000;
}

#quote_time:before{
    content:"• ";
}