<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{if .Context.Q}}{{.Context.Q}} - {{end}}{{if .Brand.Name}}{{.Brand.Name}}{{else}}Jive Search{{end}}</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="/static/instant/maps/mapbox.js"></script>
    <link rel="stylesheet" href="/static/instant/maps/mapbox.css">
    <style>
    body { margin:0; padding:0; }
    #map {
      position:absolute; top:0; bottom:0; left:0; right:0; height: 100%; width: 100%;
    }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
    L.mapbox.accessToken = {{.MapBoxKey}};
    var map = L.mapbox.map("map", "mapbox.streets")
      .setView([{{.Instant.Solution.Latitude}}, {{.Instant.Solution.Longitude}}], 9);
    </script>
  </body>
</html>