{{define "title"}}
  {{if .Context.POST}}{{else if .Context.Q}}{{.Context.Q}} - {{end}}{{.Brand.Name}}
{{end}}

{{define "css"}}
  {{if .Context.Q -}}
    <link rel="stylesheet" href="/static/search.css">
    {{if .Instant -}}
      {{range $i, $f := .Instant | AnswerCSS -}}
      <link rel="stylesheet" href="/static/instant/{{$f}}">
      {{- end}}
    {{- end}}
  {{- end}}
{{end}}

{{define "javascript"}}
  <script src="/static/search.js"></script>
  {{if .Instant}}
    {{if eq .Instant.Type "calculator"}}
    <script src="/static/instant/calculator/calculator.js"></script>
    {{else if eq .Instant.Type "currency"}}
    <script src="/static/instant/d3.v4.min.js"></script>
    <script src="/static/instant/currency/currency.js"></script>
    {{else if eq .Instant.Type "breach"}}
    <script src="/static/instant/owl.carousel.min.js"></script>
    <script src="/static/instant/breach/breach.js"></script>
    {{else if eq .Instant.Type "discography"}}
    <script src="/static/instant/owl.carousel.min.js"></script>
    <script src="/static/instant/discography/discography.js"></script>
    {{else if eq .Instant.Type "gdp"}}
    <script src="/static/instant/d3.v4.min.js"></script>
    <script src="/static/instant/gdp/gdp.js"></script>
    {{else if eq .Instant.Type "maps"}}
    <script src="/static/instant/maps/mapbox.js"></script>
    <script src="/static/instant/maps/mapbox_directions.js"></script>
    <script>
      mapboxgl.accessToken = "{{.MapBoxKey}}";
      var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v9",
        zoom: 9
      });

      if ({{.Instant.Solution.Directions}}){
        var directions = new MapboxDirections({
          accessToken: mapboxgl.accessToken
        });
        map.addControl(directions, 'top-left');
        directions.setOrigin({{.Instant.Solution.Origin}});
        directions.setDestination({{.Instant.Solution.Destination}});
      } else {
        map.setCenter([{{.Instant.Solution.Longitude}}, {{.Instant.Solution.Latitude}}]);
      }
    </script>
    {{else if eq .Instant.Type "mortgage calculator"}}
    <script src="/static/instant/mortgage_calculator/mortgage_calculator.js"></script>
    {{else if eq .Instant.Type "population"}}
    <script src="/static/instant/d3.v4.min.js"></script>
    <script src="/static/instant/population/population.js"></script>
    {{else if eq .Instant.Type "stock quote"}}
    <script src="/static/instant/d3.v4.min.js"></script>
    <script src="/static/instant/stock_quotes/stock_quotes.js"></script>
    {{else if eq .Instant.Type "unit converter"}}
    <script src="/static/instant/unit_converter/unit_converter.js"></script>
    {{else if eq .Instant.Type "minify"}}
    <!-- 
      prettydiff.js combines prettydiff barebones example files to 1: 
      https://github.com/prettydiff/prettydiff/blob/master/test/barebones/barebones.xhtml#L27 
      If you don't combine them then you'll have to enable "unsafe-eval" in Content Security Policy header in nginx.conf
      as pagespeed_ngx will turn some of those .js files to inline code.
    -->
    <!-- another option is to use https://github.com/prettier/prettier -->
    <script src="/static/instant/minify/prettydiff.js"></script>
    <script src="/static/instant/minify/minify.js"></script>
    {{end}}
  {{end}}
{{end}}

{{define "content"}}
{{$context := .Context}}
{{if $context.Q}}
<div id="container" class="pure-g">
  <div class="pure-u-1 pure-u-xl-2-24 spacer" style="text-align:center;">
    <a href="/">{{template "small_logo" .}}</a>
  </div>
  <div class="pure-u-1 pure-u-xl-22-24">
    {{template "search_form" .}}
    <div class="pure-u-1" style="margin-bottom:-8px;font-size:16px;color:#444;cursor:pointer;">
      <div class="navbar">
        <span id="all" {{if eq $context.T "images" "maps"}}class="nav"{{else}}class="nav_selected"{{end}} style="margin-right:20px;">All</span>
        <span id="images" {{if eq $context.T "images"}}class="nav_selected"{{else}}class="nav"{{end}} style="margin-right:20px;">Images</span>
        {{if eq .Instant.Type "maps"}}
        <span id="maps" {{if eq $context.T "maps"}}class="nav_selected"{{else}}class="nav"{{end}} style="margin-right:20px;">Maps</span>
        {{end}}
        {{if eq $context.T "images"}}
        <div id="safesearch" style="float:right;">
          <button id="safesearchbtn">SafeSearch <span id="safesearch_selection">{{if eq $context.Safe false}}Off{{else}}On{{end}}</span></button>
          <div id="safesearch-content">
            <label class="safesearch-content-label" for="safe">
              <input id="safe" type="checkbox" {{if eq $context.Safe true}}checked="checked"{{end}}> Turn on Safe Search
            </label>
          </div>
        </div>
        {{else if eq $context.T ""}}
        <div id="safesearch" style="float:right;">
          <button id="safesearchbtn">SafeSearch <span id="safesearch_selection">{{$context.F | Title}}</span></button>
          <div id="safesearch-content" style="min-width: 250px;">
            <form id="search_filter">
              <label class="safesearch-content-label" for="safe" style="padding: 7px 10px;">
                <input type="radio" name="search_filter" value="strict" {{if eq $context.F "strict"}}checked="checked"{{end}}> Strict </br>
              </label>
              <label class="safesearch-content-label" for="safe" style="padding: 7px 10px;">
                <input type="radio" name="search_filter" value="moderate" {{if eq $context.F "moderate"}}checked="checked"{{end}}> Moderate </br>
              </label>
              <label class="safesearch-content-label" for="safe" style="padding: 7px 10px;">
                <input type="radio" name="search_filter" value="off" {{if eq $context.F "off"}}checked="checked"{{end}}> Off </br>
              </label>
            </form>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
  <div class="pure-u-1" style="margin-bottom:5px;">
    <hr style="border:1px solid #e3e3e3;">
  </div>

  {{if .Context.DefaultBangs}}
  <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
  <div class="pure-u-1 pure-u-xl-22-24">
    <div class="pure-u-1 pure-u-xl-15-24">
      <div class="pure-u-1">
        <div class="pure-button-group" role="group" aria-label="bang select" style="margin-bottom:10px;">
        {{range $i, $bng := .Context.DefaultBangs}}
          <button class="pure-button bang_submit" tabindex="{{Add $i 3}}" 
            data-location="!{{$bng.Trigger}} {{$context.Q}}">!{{$bng.Trigger}}<br>{{$bng.Name}}</button>
        {{end}}
        </div>
      </div>
    </div>
  </div>
  {{end}}

  {{if .Images}}
    <div class="pure-u-1">
    {{range $i, $img := .Images.Images}}
      {{if $img.Base64}}
        {{$key := $img.ID | HMACKey}}
        <!--
          Using an object tag here will hide broken images.
          https://stackoverflow.com/questions/22051573/how-to-hide-image-broken-icon-using-only-css-html-without-js/37334582
        -->
        <a href="/image/225x,s{{$key}}/{{$img.ID}}">
          <object data="data:image/jpg;base64,{{$img.Base64}}" title="{{$img.Alt}}"></object>
        </a>
      {{end}}
    {{end}}
    </div>
  {{else}}
  {{if .Search.Count}}
  <div class="pure-u-1 pure-u-xl-2-24 spacer count"></div>
  <div class="pure-u-1 pure-u-xl-22-24 count">{{.Search.Count | Commafy}} results</div>
  {{end}}

  {{if and .Instant .Instant.Triggered}}
    {{if eq .Instant.Type "wikipedia"}}<!--Wikipedia Box-->
    <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
    <div id="results_container" class="pure-u-1 pure-u-xl-22-24">
      {{template "answer" .}}
      {{template "search_results" .}}
    </div>
    {{else if (or (eq .Instant.Type "breach") (eq .Instant.Type "discography"))}}<!--100% width instant answer-->
      {{template "answer" .}}
      <div class="pure-u-1">
        <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
        <div id="results_container" class="pure-u-1 pure-u-xl-22-24">{{template "search_results" .}}</div>
      </div>
    {{else if .Instant.Type}}<!--normal size instant answer-->
    <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
    <div class="pure-u-1 pure-u-xl-22-24">
      <div id="instant" class="pure-u-1 pure-u-xl-15-24">
      {{template "answer" .}}
      </div>
    </div>
    <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
    <div id="results_container" class="pure-u-1 pure-u-xl-22-24">{{template "search_results" .}}</div>
    {{end}}
  {{else}}
  <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
  <div id="results_container" class="pure-u-1 pure-u-xl-22-24">{{template "search_results" .}}</div>
  {{end}}
{{end}}
</div>
{{else}}
<div class="pure-g">
  <div id="container" class="pure-u-1">
    <div style="text-align:center;">
      <div class="pure-u-22-24">
        {{.Brand.Logo|SafeHTML}}
        {{template "search_form" .}}
        <br>
        <div id="tagline">{{.Brand.TagLine}}</div>
        <div class="pure-u-1" style="margin-top:125px;">
          {{template "instructions" .}}
        </div>
      </div>
      <div id="about_us" style="position:absolute;right:0;bottom:0;left:0;padding:1rem;background-color:#efefef;text-align:center;">
        <a href="/about">How we protect your privacy</a>
      </div>
    </div>
  </div>
</div>
{{end}}
{{end}}