{{define "small_logo"}}
  {{if .Brand.SmallLogo}}
    {{.Brand.SmallLogo|SafeHTML}}
  {{else}}
  <svg xmlns="http://www.w3.org/2000/svg" width="115px" height="48px">
    <defs>
      <style>
        #logo{
          font-size:20px;
        }            
      </style>
    </defs>
    <g>
      <text id="logo" x="7" y="37" fill="#000">Jive Search</text>
    </g>
  </svg>
  {{end}}
{{end}}

{{define "search_form"}}
<div id="search_container">
  <div class="ui-widget">
    <form id="form" name="x" method="GET" action="/" role="search">
      {{if .Context.L}}<input type="hidden" name="l" value="{{.Context.L}}"/>{{end}}
      {{if .Context.R}}<input type="hidden" name="r" value="{{.Context.R}}"/>{{end}}
      {{if .Context.N}}<input type="hidden" name="n" value="{{.Context.N}}"/>{{end}}
      {{if .Context.T}}<input type="hidden" name="t" value="{{.Context.T}}"/>{{end}}
      {{if .Context.Safe}}{{else}}<input type="hidden" name="safe" value="{{.Context.Safe}}"/>{{end}}
      <!--don't set 'p' param...always force it back to page 1-->
    	<input id="query" type="text" data-query="{{.Context.Q}}" placeholder="" name="q" maxlength="2048" tabindex="1"
          autocomplete="off" title="Search" value="{{.Context.Q}}" aria-label="Search" autofocus />
      <button id="search_submit" type="submit" tabindex="2"><i class="icon-search" aria-hidden="true"></i></button>
    </form>
  </div>
</div>
{{end}}

{{define "did_you_mean"}}
  {{if .Alternative}}
  <div class="pure-u-1" style="font-size:18px;cursor:pointer;">
    <p>
      Did you mean <i><a id="alternative" data-alternative="{{.Alternative}}">{{.Alternative}}?</a></i>
    </p>
  </div>
  {{end}}
{{end}}

{{define "search_results"}}
<div id="results" class="pure-u-1 pure-u-xl-15-24">
{{template "did_you_mean" .}}
{{if .Search.Documents}}
  {{range $i, $doc := .Search.Documents}}
  <div class="pure-u-1">
    <div class="pure-u-2-24 pure-u-md-1-24 vote" data-url="{{$doc.ID}}">
      <div class="up arrow" data-vote="1"></div>
      <div class="votes">{{$doc.Votes}}</div>
      <div class="down arrow" data-vote="-1"></div>
    </div>
    <div class="pure-u-20-24 pure-u-md-21-24 result">
      <div class="title"><a href="{{$doc.ID}}" rel="noopener">{{Truncate $doc.Title 60 true}}</a></div>
      <div class="url">{{Truncate $doc.ID 80 false}}</div>
      <div class="description">{{Truncate $doc.Description 215 true}}</div>
      <div></div>
    </div>
  </div>
  {{end}}
  {{if .Search.Pagination}}
  <div class="pure-u-1" style="text-align:center;padding-top:10px;padding-bottom:35px;">
    <div class="pure-u-1" style="display:inline-block;color:#3367e5;">
      {{if .Search.Previous}}
      <span class="pagination" data-page="{{.Search.Previous}}" style="margin-right:35px;cursor:pointer;">Previous</span>
      {{end}}
      {{range $p := .Search.Pagination}}
      <span class="pagination" data-page="{{$p}}" {{if eq $.Search.Page $p}}style="color:#000;margin-right:7px;"{{else}}style="color:#3367e5;margin-right:7px;"{{end}}>{{$p}}</span>
      {{end}}
      {{if .Search.Next}}
      <span class="pagination" data-page="{{.Search.Next}}" style="margin-left:35px;cursor:pointer;">Next</span>
      {{end}}
    </div>
  </div>
  {{end}}
{{else}}
<div class="pure-u-1">
  {{template "did_you_mean" .}}
  <p style="padding-top:5px;">No results for <strong>{{.Context.Q}}</strong></p>
  <p>Suggestions:</p>
  <ul>
    <li>Learn how to spell.</li>
    <li>Try something else.</li>
  </ul>
</div>
{{end}}
</div>
{{end}}