{{define "title"}}{{if .Context.Q}}{{.Context.Q}} - {{end}}{{if .Brand.Name}}{{.Brand.Name}}{{else}}Jive Search{{end}}{{end}}

{{define "css"}}
  {{if .Context.Q}}
    <link rel="stylesheet" href="/static/search.css">
    {{if .Instant}}
      {{if eq .Instant.Type "breach"}}
      <link rel="stylesheet" href="/static/instant/owl.carousel.min.css">
      <link rel="stylesheet" href="/static/instant/breach/breach.css">
      {{else if eq .Instant.Type "calculator"}}
      <link rel="stylesheet" href="/static/instant/calculator/calculator.css">
      {{else if eq .Instant.Type "currency"}}
      <link rel="stylesheet" href="/static/instant/currency/currency.css">
      {{else if eq .Instant.Type "discography"}}
      <link rel="stylesheet" href="/static/instant/owl.carousel.min.css">
      <link rel="stylesheet" href="/static/instant/discography/discography.css">
      {{else if eq .Instant.Type "gdp"}}
      <link rel="stylesheet" href="/static/instant/gdp/gdp.css">
      {{else if eq .Instant.Type "maps"}}
      <link href="/static/instant/maps/mapbox.css" rel="stylesheet" />
      <link href="/static/instant/maps/mapbox_directions.css" rel="stylesheet" />
      {{else if eq .Instant.Type "population"}}
      <link rel="stylesheet" href="/static/instant/population/population.css">
      {{else if eq .Instant.Type "stock quote"}}
      <link rel="stylesheet" href="/static/instant/stock_quotes/stock_quotes.css">
      {{else if eq .Instant.Type "unit converter"}}
      <link rel="stylesheet" href="/static/instant/unit_converter/unit_converter.css">
      {{else if (or (eq .Instant.Type "local weather") (eq .Instant.Type "weather"))}}
      <link rel="stylesheet" href="/static/instant/weather/weather.css">      
      {{end}}
    {{end}}
  {{end}}
{{end}}

{{define "javascript"}}
  {{if .Instant}}
    {{if eq .Instant.Type "calculator"}}
    <script src="/static/instant/calculator/calculator.js"></script>
    {{else if eq .Instant.Type "currency"}}
    <script src="/static/instant/d3.v4.min.js"></script>
    <script src="/static/instant/currency/currency.js"></script>
    {{else if eq .Instant.Type "breach"}}
    <script src="/static/instant/owl.carousel.min.js"></script>
    <script src="/static/instant/breach/breach.js"></script>
    {{else if eq .Instant.Type "discography"}}
    <script src="/static/instant/owl.carousel.min.js"></script>
    <script src="/static/instant/discography/discography.js"></script>
    {{else if eq .Instant.Type "gdp"}}
    <script src="/static/instant/d3.v4.min.js"></script>
    <script src="/static/instant/gdp/gdp.js"></script>
    {{else if eq .Instant.Type "maps"}}
    <script src="/static/instant/maps/mapbox.js"></script>
    <script src="/static/instant/maps/mapbox_directions.js"></script>
    <script>
      mapboxgl.accessToken = "{{.MapBoxKey}}";
      var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v9",
        zoom: 9
      });

      if ({{.Instant.Solution.Directions}}){
        var directions = new MapboxDirections({
          accessToken: mapboxgl.accessToken
        });
        map.addControl(directions, 'top-left');
        directions.setOrigin({{.Instant.Solution.Origin}});
        directions.setDestination({{.Instant.Solution.Destination}});
      } else {
        map.setCenter([{{.Instant.Solution.Longitude}}, {{.Instant.Solution.Latitude}}]);
      }
    </script>
    {{else if eq .Instant.Type "mortgage calculator"}}
    <script src="/static/instant/mortgage_calculator/mortgage_calculator.js"></script>
    {{else if eq .Instant.Type "population"}}
    <script src="/static/instant/d3.v4.min.js"></script>
    <script src="/static/instant/population/population.js"></script>
    {{else if eq .Instant.Type "stock quote"}}
    <script src="/static/instant/d3.v4.min.js"></script>
    <script src="/static/instant/stock_quotes/stock_quotes.js"></script>
    {{else if eq .Instant.Type "unit converter"}}
    <script src="/static/instant/unit_converter/unit_converter.js"></script>
    {{else if eq .Instant.Type "minify"}}
    <!-- 
      prettydiff.js combines prettydiff barebones example files to 1: 
      https://github.com/prettydiff/prettydiff/blob/master/test/barebones/barebones.xhtml#L27 
      If you don't combine them then you'll have to enable "unsafe-eval" in Content Security Policy header in nginx.conf
      as pagespeed_ngx will turn some of those .js files to inline code.
    -->
    <!-- another option is to use https://github.com/prettier/prettier -->
    <script src="/static/instant/minify/prettydiff.js"></script>
    <script src="/static/instant/minify/minify.js"></script>
    {{end}}
  {{end}}
{{end}}

{{define "source"}}
<div class="pure-u-1" style="margin-top:5px;">
  <div class="pure-u-1" style="margin-top:10px;">
  <div class="pure-u-1-2" style="float:left;text-align:left;padding:15px;">
    <em>Source</em><br>{{.Instant|Source|SafeHTML}}
  </div>
  </div>
</div>
{{end}}

{{define "content"}}
{{$context := .Context}}

{{if $context.Q}}
<div id="container" class="pure-g">
  <div class="pure-u-1 pure-u-xl-2-24 spacer" style="text-align:center;">
    <a href="/">{{template "small_logo" .}}</a>
  </div>
  <div class="pure-u-1 pure-u-xl-22-24">
    {{template "search_form" .}}
    <div class="pure-u-1" style="margin-bottom:-8px;font-size:16px;color:#444;cursor:pointer;">
      <div class="navbar">
        <span id="all" {{if eq $context.T "images" "maps"}}class="nav"{{else}}class="nav_selected"{{end}} style="margin-right:20px;">All</span>
        <span id="images" {{if eq $context.T "images"}}class="nav_selected"{{else}}class="nav"{{end}} style="margin-right:20px;">Images</span>
        {{if eq .Instant.Type "maps"}}
        <span id="maps" {{if eq $context.T "maps"}}class="nav_selected"{{else}}class="nav"{{end}} style="margin-right:20px;">Maps</span>
        {{end}}
        {{if eq $context.T "images"}}
        <div id="safesearch" style="float:right;">
          <button id="safesearchbtn">SafeSearch <span id="safesearch_selection">{{if eq $context.Safe false}}Off{{else}}On{{end}}</span></button>
          <div id="safesearch-content">
            <label id="safesearch-content-label" for="safe">
              <input id="safe" type="checkbox" {{if eq $context.Safe true}}checked="checked"{{end}}> Turn on Safe Search
            </label>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
  <div class="pure-u-1" style="margin-bottom:5px;">
    <hr style="border:1px solid #e3e3e3;">
  </div>

  {{if .Context.DefaultBangs}}
  <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
  <div class="pure-u-1 pure-u-xl-22-24">
    <div class="pure-u-1 pure-u-xl-15-24">
      <div class="pure-u-1">
        <div class="pure-button-group" role="group" aria-label="bang select" style="margin-bottom:10px;">
        {{range $i, $bng := .Context.DefaultBangs}}
          <button class="pure-button bang_submit" tabindex="{{Add $i 3}}" 
            data-location="!{{$bng.Trigger}} {{$context.Q}}">!{{$bng.Trigger}}<br>{{$bng.Name}}</button>
        {{end}}
        </div>
      </div>
    </div>
  </div>
  {{end}}

  {{if .Images}}
    <div class="pure-u-1">
    {{range $i, $img := .Images.Images}}
      {{if $img.Base64}}
        {{$key := $img.ID | HMACKey}}
        <!--
          Using an object tag here will hide broken images.
          https://stackoverflow.com/questions/22051573/how-to-hide-image-broken-icon-using-only-css-html-without-js/37334582
        -->
        <a href="/image/225x,s{{$key}}/{{$img.ID}}">
          <object data="data:image/jpg;base64,{{$img.Base64}}" title="{{$img.Alt}}"></object>
        </a>
      {{end}}
    {{end}}
    </div>
  {{else}}
  {{if .Search.Count}}
  <div class="pure-u-1 pure-u-xl-2-24 spacer count"></div>
  <div class="pure-u-1 pure-u-xl-22-24 count">{{.Search.Count | Commafy}} results</div>
  {{end}}

  {{if and .Instant .Instant.Triggered}}
    {{if eq .Instant.Type "wikipedia"}}<!--Wikipedia Box-->
    <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
    <div id="results_container" class="pure-u-1 pure-u-xl-22-24">
      {{template "wikipedia" .}}
      {{template "search_results" .}}
    </div>
    {{else if eq .Instant.Type "breach"}}<!--100% width instant answer-->
      {{if .Instant.Solution.Breaches}}
      <div id="answer" class="pure-u-1" style="height:305px;background-color:#fcfcfc;resize:none;padding-top:5px;margin-bottom:15px;">
        {{$account:= .Instant.Solution.Account}}
        <span style="color:rgb(196, 35, 75);font-size:14px;"><em>{{$account}} has been compromised:</em></span>
        <div style="margin:2px;margin-bottom:0px;">
          <div class="carousel-wrap">
            <div class="owl-carousel">
            {{range $j, $b := .Instant.Solution.Breaches}}
            <div class="breach">
              <br>
              <a class="breach_link" href="https://haveibeenpwned.com/account/{{$account}}">
                {{$des := $b.Description | StripHTML}}
                <span style="color:#000;font-size:16px;"><em>{{Truncate $b.Name 40 false}}</em></span><br>
                <span style="color:#333;font-size:14px;"><em>{{Truncate $b.Domain 40 false}}</em></span><br>
                <span style="color:#555;font-size:12px;">{{Truncate $des 165 true}}</span><br>
                <span style="color:#777;font-size:10px;">Breached: {{$b.Date.Format "Jan 2, 2006"}}</span><br>
              </a>
            </div>
            {{end}}
            </div>
          </div>
        </div>
        {{template "source" .}}
      </div>
      {{end}}
      <div class="pure-u-1">
        <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
        <div id="results_container" class="pure-u-1 pure-u-xl-22-24">{{template "search_results" .}}</div>
      </div>
    {{else if eq .Instant.Type "discography"}}<!--100% width instant answer-->
      {{$length := len .Instant.Solution}} 
      {{if ne $length 0 }}
      <div id="answer" class="pure-u-1" style="height:325px;background-color:#fcfcfc;resize:none;padding-top:15px;margin-bottom:15px;">
        <div style="margin:15px;margin-bottom:0px;">
          <div class="carousel-wrap">
            <div class="owl-carousel">
            {{range $j, $a := .Instant.Solution}}
            <div class="item album">
              {{if $a.Image.URL}}
                {{$key := $a.Image.URL.String | HMACKey}}
                <a class="album_link" href="/image/125x,s{{$key}}/{{$a.Image.URL}}">
                <img src="/image/125x,s{{$key}}/{{$a.Image.URL}}" title="{{$a.Image.URL}}" alt="{{$a.Name}}" style="border:0px;"/>
              {{else}}
                <a class="album_link"><br>
                <i class="icon-picture" aria-hidden="true" style="color:#444;text-shadow: 1px 1px 1px #ccc;font-size:26px;">
                  <br><span style="font-size:24px;">Image not available</span>
                </i>
                <br><br>                 
              {{end}}
              <br>
              <span style="color:#000;font-size:12px;"><em>{{Truncate $a.Name 40 false}}</em></span><br>
              <span style="color:#000;font-size:12px;">{{$a.Published.Format "Jan 2, 2006"}}</span><br>
              </a>
            </div>
            {{end}}
            </div>
          </div>
        </div>
        {{template "source" .}}
      </div>
      {{end}}
      <div class="pure-u-1">
        <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
        <div id="results_container" class="pure-u-1 pure-u-xl-22-24">{{template "search_results" .}}</div>
      </div>
    {{else}}<!--normal size instant answer-->
    <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
    <div class="pure-u-1 pure-u-xl-22-24">
      <div id="instant" class="pure-u-1 pure-u-xl-15-24">
      {{if eq .Instant.Type "maps"}}
        {{if ne .Context.T "maps"}}
        <div id="map" style="width:100%;height:300px;"></div>
        {{end}}
      {{else if eq .Instant.Type "minify"}}
      <textarea id="code_input" rows="20" cols="60" tabindex="4" style="width:99%" placeholder="Paste code here..."></textarea>
      <textarea id="code_output" rows="20" cols="60" tabindex="5" style="width:99%;display:none;"></textarea>
      <a id="minify" data-value="minify" class="pure-button pure-button-primary" tabindex="6" style="font-size:20px;background:rgba(112,234,157,1);color:#333;border-radius:4px;text-shadow: 0 1px 1px rgba(255,255,255,1);">Minify</a>
      <a id="prettify" data-value="beautify" class="pure-button" tabindex="7" style="font-size:20px;background:rgba(112,234,157,1);color:#333;border-radius:4px;text-shadow: 0 1px 1px rgba(255,255,255,1);">Prettify</a>
      {{else if eq .Instant.Type "unit converter"}}
      <div id="unit_converter" class="pure-u-18-24" style="margin-bottom:25px;">
        <div class="pure-u-1">
          <form class="pure-form pure-g">
            <div class="pure-u-1">
              <select id="selector" class="pure-input-1" style="margin-bottom:15px;">
                <option {{if eq .Instant.Solution "digital storage"}}selected{{end}}>Digital Storage</option>
                <option {{if eq .Instant.Solution "length"}}selected{{end}}>Length</option>
                <option {{if eq .Instant.Solution "power"}}selected{{end}}>Power</option>
                <option {{if eq .Instant.Solution "speed"}}selected{{end}}>Speed</option>
                <option {{if eq .Instant.Solution "temperature"}}selected{{end}}>Temperature</option>
              </select>
            </div>
          </form>
        </div>
        <div class="pure-g">
          <div class="pure-u-11-24">
            <form class="pure-form unit">
              <input class="pure-input-1"/>
              <select class="pure-input-1"></select>
            </form>
          </div>
          <div class="pure-u-2-24" style="font-size:24px;color:#666;margin-top:15px;text-align:center;">=</div>
          <div class="pure-u-11-24">
            <form class="pure-form unit">
              <input class="pure-input-1"/>
              <select class="pure-input-1"></select>
            </form>
          </div>
        </div>
      </div>
      {{else if eq .Instant.Type "calculator"}}
      <noscript>
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;">{{.Instant.Solution}}</div>
        </div>
      </noscript>
      <div id="calculator" style="display:none;">
        <div id="result" tabindex="4">{{if .Instant.Solution}}{{.Instant.Solution}}{{end}}</div>
        <div id="main">
          <div id="first-row">
            <button id="clear" class="del-bg">C</button>
            <button class="btn-style operator opera-bg fall-back" value="%">%</button>
            <button class="btn-style opera-bg align operator" value="/">/</button>
          </div>
            
          <div class="rows">
            <button class="btn-style num-bg number first-child" value="7">7</button>
            <button class="btn-style num-bg number" value="8">8</button>
            <button class="btn-style num-bg number" value="9">9</button>
            <button class="btn-style opera-bg operator" value="*">x</button>
          </div>
            
          <div class="rows">
            <button class="btn-style num-bg number first-child" value="4">4</button>
            <button class="btn-style num-bg number" value="5">5</button>
            <button class="btn-style num-bg number" value="6">6</button>
            <button class="btn-style opera-bg operator" value="-">-</button>
          </div>
            
          <div class="rows">
            <button class="btn-style num-bg number first-child" value="1">1</button>
            <button class="btn-style num-bg number" value="2">2</button>
            <button class="btn-style num-bg number" value="3">3</button>
            <button class="btn-style opera-bg operator" value="+">+</button>
          </div>
            
          <div class="rows">
            <button id="zero" class="num-bg zero" value="0">0</button>
            <button class="btn-style num-bg period fall-back" value=".">.</button>
            <button id="eqn-bg" class="eqn align" value="=">=</button>
          </div>
        </div>
      </div>
      {{else if eq .Instant.Type "congress"}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1" style="height:225px;">
          <div style="margin-top:10px;margin-left:15px;font-size:18px;">
            <em>{{.Instant.Solution.Location.State}} {{.Instant.Solution.Role}}</em>
          </div><br>
          {{range $i, $m := .Instant.Solution.Members}}
            <div class="pure-u-22-24" style="margin-bottom:10px;">
              <div style="margin-left:15px;margin-bottom:3px;font-size:16px;color:#444;">
                {{if $m.District}}
                  <div style="text-decoration: underline;"><small>District {{$m.District}}</small></div>
                {{end}}
                <em>{{$m.Name}} <span style="color:#444;font-size:14px;">({{$m.Party}})</span></em>&nbsp;
                {{if $m.Twitter}}
                  <a href="https://twitter.com/{{$m.Twitter}}" style="text-decoration: none !important;">
                    <i class="icon-twitter" aria-hidden="true" style="color: #1DA1F2; text-shadow: 1px 1px 1px #ccc;"></i>
                    <span class="social_media">{{$m.Twitter}}</span>
                  </a>&nbsp;
                {{end}}
                {{if $m.Facebook}}
                  <a href="https://www.facebook.com/{{$m.Facebook}}" style="text-decoration: none !important;">
                    <i class="icon-facebook-official" aria-hidden="true" style="color: #3b5998; text-shadow: 1px 1px 1px #ccc;"></i>
                    <span class="social_media">{{$m.Facebook}}</span>
                  </a>
                {{end}}
              </div>
            </div>
          {{end}}
          {{template "source" .}}
        </div>
        {{end}}
      {{else if eq .Instant.Type "country code"}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;"><em>{{.Instant.Solution.Solution}}</em></div>
          <div style="margin:15px;margin-bottom:5px;">{{.Instant.Solution.Format}} Country: {{.Instant.Solution.Country}}</div>
        </div>
        {{end}}
      {{else if eq .Instant.Type "currency"}}
        {{$fx := .Instant.Solution}}
        <div id="answer" class="pure-u-1" style="margin-top:12px;height:240px;">
          <div id="currency" class="pure-u-17-24" style="margin-top:5px;margin-bottom:0px;margin-left:15px;">
            <div class="pure-g" style="margin-bottom:50px;">
              <div class="pure-u-11-24">
                <form class="pure-form unit">
                  <input class="pure-input-1" value="{{$fx.Notional}}"/>
                  <select class="pure-input-1">
                    <optgroup label="Foreign currencies">
                    {{range $i, $c := $fx.ForexCurrencies -}}
                      {{$hist := index $fx.History $c.Short}}
                      {{$n := len $hist}}
                      {{range $j, $v := $hist -}}
                        {{if eq (Add $j 1) $n -}}
                        <option {{if eq $c.Short $fx.From.Short}}selected{{end}} value="{{$v.Rate}}" currency="{{$c.Short}}">{{$c.Long}} ({{$c.Short}})</option>
                        {{- end}}
                      {{- end}}
                    {{- end}}
                    </optgroup>
                    <optgroup label="Cryptocurrencies">
                    {{range $i, $c := $fx.CryptoCurrencies -}}
                      {{$hist := index $fx.History $c.Short}}
                      {{$n := len $hist}}
                      {{range $j, $v := $hist -}}
                        {{if eq (Add $j 1) $n -}}
                        <option {{if eq $c.Short $fx.From.Short}}selected{{end}} value="{{$v.Rate}}" currency="{{$c.Short}}">{{$c.Long}} ({{$c.Short}})</option>
                        {{- end}}
                      {{- end}}
                    {{- end}}
                    </optgroup>
                  </select>
                </form>
              </div>
              <div class="pure-u-2-24" style="font-size:24px;color:#666;margin-top:15px;text-align:center;">=</div>
              <div class="pure-u-11-24">
                <form class="pure-form unit">
                  <input class="pure-input-1"/>
                  <select class="pure-input-1">
                    <optgroup label="Foreign currencies">
                    {{range $i, $c := $fx.ForexCurrencies -}}
                      {{$hist := index $fx.History $c.Short}}
                      {{$n := len $hist}}
                      {{range $j, $v := $hist -}}
                        {{if eq (Add $j 1) $n -}}
                        <option {{if eq $c.Short $fx.To.Short}}selected{{end}} value="{{$v.Rate}}" currency="{{$c.Short}}">{{$c.Long}} ({{$c.Short}})</option>
                        {{- end}}
                      {{- end}}
                    {{- end}}
                    </optgroup>
                    <optgroup label="Cryptocurrencies">
                    {{range $i, $c := $fx.CryptoCurrencies -}}
                      {{$hist := index $fx.History $c.Short}}
                      {{$n := len $hist}}
                      {{range $j, $v := $hist -}}
                        {{if eq (Add $j 1) $n -}}
                        <option {{if eq $c.Short $fx.To.Short}}selected{{end}} value="{{$v.Rate}}" currency="{{$c.Short}}">{{$c.Long}} ({{$c.Short}})</option>
                        {{- end}}
                      {{- end}}
                    {{- end}}
                    </optgroup>
                  </select>
                </form>
              </div>
            </div>
            <div id="currency_chart" class="pure-u-1"></div>
            {{$c := index $fx.ForexCurrencies 0}}<!-- can be any currency... -->
            {{$hist := index $fx.History $c.Short}}
            {{$n := len $hist}}
            {{range $i, $v := $hist -}}
              {{if eq (Add $i 1) $n -}}
              <div class="pure-u-1">Forex data last updated {{$v.DateTime.Format "January 2, 2006"}}</div>
              {{- end}}
            {{- end}}
            {{$c := index $fx.CryptoCurrencies 0}}<!-- can be any currency... -->
            {{$hist := index $fx.History $c.Short}}
            {{$n := len $hist}}
            {{range $i, $v := $hist -}}
              {{if eq (Add $i 1) $n -}}
              <div class="pure-u-1">Cryptocurrency data last updated {{$v.DateTime.Format "January 2, 2006 UTC"}}</div>
              {{- end}}
            {{- end}}
          </div>
          <script>
            var notional = {{$fx.Notional}};

            // get from currency and to currency
            var from=[
              {{- $from := index $fx.History $fx.From.Short -}}
              {{$n := len $from -}}                        
              {{range $i, $v := $from -}}
                {"date": {{$v.DateTime.Format "2006-01-02T00:00:00Z"}}, "rate": {{$v.Rate}}}{{if eq (Add $i 1) $n -}}{{else}},{{end -}}
              {{end -}}
            ];
            var to=[
              {{- $to := index $fx.History $fx.To.Short -}}
              {{$n := len $to -}}                        
              {{range $i, $v := $to -}}
                {"date": {{$v.DateTime.Format "2006-01-02T00:00:00Z"}}, "rate": {{$v.Rate}}}{{if eq (Add $i 1) $n -}}{{else}},{{end -}}
              {{end -}}
            ];
          </script>
          {{template "source" .}}
        </div>
      {{else if eq .Instant.Type "gdp"}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;">
            <div class="pure-u-1">
              {{$n := len .Instant.Solution.History}}
              {{$last := Subtract $n 1}}
              {{$latest := index .Instant.Solution.History $last}}<!-- get latest... -->
              <div class="pure-u-1" style="font-size:16px;">{{.Instant.Solution.Country}} GDP</div>
              <div class="pure-u-1" style="font-size:20px;">{{$latest.Value | Commafy}} ({{$latest.Date.Format "2006"}})</div>
            </div>
            <div id="gdp_chart" class="pure-u-1"></div>
          </div>
          <script>var data = {{.Instant.Solution.History|JSONMarshal}};</script>
          {{template "source" .}}
        </div>
        {{end}}
      {{else if eq .Instant.Type "mortgage calculator"}}
      <div class="pure-u-1" style="margin-bottom:5px;border-bottom:1px solid #efefef;">
        <form class="pure-form pure-form-stacked" action="">
          <fieldset>
            <div class="pure-g">
              <div class="pure-u-1 pure-u-md-1-3">
                <label for="amt" style="color:#666;">Mortgage Amount</label>
                <input id="amt" class="pure-u-23-24 mtg" type="text" value="100000">
              </div>
              <div class="pure-u-1 pure-u-md-1-3">
                <label for="rate" style="color:#666;">Interest Rate (%)</label>
                <input id="rate" class="pure-u-23-24 mtg" type="text">
              </div>
              <div class="pure-u-1 pure-u-md-1-3">
                <label for="yrs" style="color:#666;">Period (years)</label>
                <input id="yrs" class="pure-u-23-24 mtg" type="text">
              </div>
              <div class="pure-u-1" style="font-size:18px;color:#666;">
                Monthly Payment &nbsp;<span id="pmt" style="font-size:36px;"></span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      {{else if eq .Instant.Type "population"}}
      {{if .Instant.Solution}}
      <div id="answer" class="pure-u-1">
        <div style="margin:15px;margin-bottom:5px;">
          <div class="pure-u-1">
            {{$n := len .Instant.Solution.History}}
            {{$last := Subtract $n 1}}
            {{$latest := index .Instant.Solution.History $last}}<!-- get latest... -->
            <div class="pure-u-1" style="font-size:16px;">{{.Instant.Solution.Country}} Population</div>
            <div class="pure-u-1" style="font-size:20px;">{{$latest.Value | Commafy}} ({{$latest.Date.Format "2006"}})</div>
          </div>
          <div id="population_chart" class="pure-u-1"></div>
        </div>
        <script>var data = {{.Instant.Solution.History|JSONMarshal}};</script>
        {{template "source" .}}
      </div>
      {{end}}
      {{else if (or (eq .Instant.Type "fedex") (eq .Instant.Type "ups") (eq .Instant.Type "usps"))}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;">
            <img width="18" height="18" alt="{{.Instant.Type}}" style="vertical-align:middle"
              {{if eq .Instant.Type "fedex"}}
                {{$favicon := "http://www.fedex.com/favicon.ico"}}
                src="/image/18x,s{{$favicon | HMACKey}}/{{$favicon}}"
              {{else if eq .Instant.Type "ups"}}
                {{$favicon := "https://www.ups.com/favicon.ico"}}
                src="/image/18x,s{{$favicon | HMACKey}}/{{$favicon}}"
              {{else if eq .Instant.Type "usps"}}
                {{$favicon := "https://www.usps.com/favicon.ico"}}
                src="/image/18x,s{{$favicon | HMACKey}}/{{$favicon}}"
              {{end}}
            />              
            <a href="{{.Instant.Solution.URL}}"><em>{{.Instant.Solution.TrackingNumber}}</em></a><br>
            <p>
              <span style="font-weight:bold;font-size:20px;">
                {{if and .Instant.Solution.Expected.Delivery .Instant.Solution.Expected.Date}}
                  {{.Instant.Solution.Expected.Delivery}}: {{.Instant.Solution.Expected.Date.Format "Monday, January 2, 2006"}}
                {{else}}
                  {{range $i, $u := .Instant.Solution.Updates}}
                    {{if eq $i 0}}
                      {{$u.Status}}: {{$u.DateTime.Format "Monday, January 2, 2006 3:04PM"}}
                    {{end}}
                  {{end}}
                {{end}}
              </span>
            </p>
            {{range $i, $u := .Instant.Solution.Updates}}
              {{if eq $i 0}}
                <div class="pure-u-1" style="margin-bottom:5px;">
                  <div class="pure-u-7-24" style="font-weight:bold;">DATE</div>
                  <div class="pure-u-8-24" style="font-weight:bold;">LOCATION</div>
                  <div class="pure-u-8-24" style="font-weight:bold;">STATUS</div>
                </div>
              {{end}}
              <div class="pure-u-1" style="color:#444;font-size:14px;margin-bottom:10px;">
                <div class="pure-u-7-24">{{$u.DateTime.Format "Mon, 02 Jan 3:04PM"}}</div>
                <div class="pure-u-8-24">{{Join $u.Location.City $u.Location.State $u.Location.Country}}</div>
                <div class="pure-u-8-24">{{$u.Status}}</div>
              </div>
            {{end}}
          </div>
          {{template "source" .}}
        </div>
        {{end}}
      {{else if eq .Instant.Type "stackoverflow"}}
        {{if .Instant.Solution}}
        <!-- I wasn't able to get both the User's display name and link to their profile or id. Can select one or the other but not both in their filter. -->
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;">
            {{$favicon := "https://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico"}}
            <img width="12" height="12" alt="stackoverflow" src="/image/18x,s{{$favicon | HMACKey}}/{{$favicon}}"/> <a href="{{.Instant.Solution.Link|SafeHTML}}"><em>{{.Instant.Solution.Question|SafeHTML}}</em></a><br>{{.Instant.Solution.Answer.Text|SafeHTML}}
          </div>
          {{template "source" .}}
        </div>
        {{end}}
      {{else if eq .Instant.Type "stock quote"}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;">
            <div class="pure-u-1">
              <div class="pure-u-1" style="font-size:20px;">{{.Instant.Solution.Name}}</div>
              <div class="pure-u-1" style="font-size:14px;">
                {{.Instant.Solution.Exchange}}: {{.Instant.Solution.Ticker}} 
                <span id="quote_time" style="font-size:12px;">{{.Instant.Solution.Time.Format "January 2, 2006 3:04 PM MST"}}</span>
              </div>
            </div>
            <div class="pure-u-1" style="font-size:40px;">{{.Instant.Solution.Last.Price|Commafy}} 
              <span style="font-size:22px;">
                {{if ge .Instant.Solution.Last.Change 0.0}}
                  <span class="quote-arrow quote-arrow-up"></span>
                  <span style="color:#006D21;"> 
                {{else}}
                  <span class="quote-arrow quote-arrow-down"></span>
                  <span style="color:#C80000;"> 
                {{end}}
                    {{.Instant.Solution.Last.Change}} ({{.Instant.Solution.Last.ChangePercent|Percent}})
                  </span>
              </span>
            </div>
            <div id="stock_chart" class="pure-u-1"></div>
            <div class="pure-u-1">
              <div id="time_period_buttons" class="pure-button-group" role="group" aria-label="time select" style="margin-left:47px;">
                <button id="day" class="pure-button" disabled>Day</button>&nbsp;
                <button id="week" class="pure-button">Week</button>&nbsp;
                <button id="month" class="pure-button">Month</button>&nbsp;
                <button id="ytd" class="pure-button">YTD</button>&nbsp;
                <button id="1yr" class="pure-button">1 Year</button>&nbsp;
                <button id="5yr" class="pure-button">5 Year</button>
              </div>
            </div>
          </div>
          <script>var data = {{.Instant.Solution.History|JSONMarshal}};</script>
          {{template "source" .}}
        </div>
        {{end}}
      {{else if eq .Instant.Type "url shortener"}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;">
            <div class="pure-u-1">
              <div class="pure-u-1" style="font-size:20px;">{{.Instant.Solution.Short}}</div><br>
              <div class="pure-u-1" style="font-size:14px;color:#444;">{{.Instant.Solution.Original}}</div>
            </div>
          </div>
          {{template "source" .}}
        </div>
        {{end}}
      {{else if (or (eq .Instant.Type "local weather") (eq .Instant.Type "weather"))}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1" style="height:375px;">
          <div style="margin:15px;margin-bottom:5px;">
            <div class="pure-u-1">
              <div class="pure-u-1" style="margin-bottom:15px;font-size:18px;text-shadow:rgba(0,0,0,.3);">
                {{.Instant.Solution.City}}
              </div>
              <div class="pure-u-1">
                <i class="{{.Instant.Solution.Current.Code|WeatherCode}} icon-large" aria-hidden="true" style="text-shadow:1px 1px 1px #ccc;vertical-align:top;"></i>
                <span style="font-size:48px;font-weight:200;text-shadow:rgba(0,0,0,.3);cursor:default;">{{.Instant.Solution.Current.Temperature}}</span>
                <span style="width:25px;display:inline-block;vertical-align:top;margin-top:5px;">
                  <i class="icon-fahrenheit" aria-hidden="true"></i>
                  <hr style="display:none;">
                  <i class="icon-celsius" aria-hidden="true" style="display:none;"></i>
                </span>
                <span style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:25px;">
                  <em>H</em> {{.Instant.Solution.Current.High}}&deg;
                  <hr style="opacity:0;">
                  <em>L</em> {{.Instant.Solution.Current.Low}}&deg;
                </span>
                <span style="display:inline-block;vertical-align:top;margin-left:25px;">
                  {{if .Instant.Solution.Current.Rain}}
                    <em>Rain: </em>{{.Instant.Solution.Current.Rain}}
                    <hr style="opacity:0;">
                  {{end}}
                  {{if .Instant.Solution.Current.Snow}}
                    <em>Snow: </em>{{.Instant.Solution.Current.Snow}}
                    <hr style="opacity:0;">
                  {{end}}
                  <hr style="opacity:0;">
                  <em>Wind:</em> {{.Instant.Solution.Current.Wind}} MPH
                  <hr style="opacity:0;">
                  <em>Humidity:</em> {{.Instant.Solution.Current.Humidity}}%
                  <hr style="opacity:0;">
                  <em>Clouds:</em> {{.Instant.Solution.Current.Clouds}}%
                </span>
              </div>
              <div class="pure-u-1">
                {{$days := WeatherDailyForecast .Instant.Solution.Forecast .Instant.Solution.TimeZone}}
                {{range $i, $d := $days}}
                  <span class="forecast">
                    <span style="font-size:14px;">{{$d.DT}}</span><br>
                    <i class="{{$d.Code|WeatherCode}} icon-large" aria-hidden="true" style="text-shadow:1px 1px 1px #ccc;vertical-align:bottom;"></i><br>
                    <br>
                    <span style="color:#555;">{{$d.Code}}</span><br><br>
                    {{if ne $d.Code "Scattered Clouds"}}<br>{{end}} 
                    {{$d.High}}&deg;<br>
                    {{$d.Low}}&deg;
                  </span>
                {{end}}
              </div>		
            </div>
          </div>
          {{template "source" .}}
        </div>
        {{end}}
      {{else if or (eq .Instant.Type "wikidata age") (eq .Instant.Type "wikidata birthday") (eq .Instant.Type "wikidata death") (eq .Instant.Type "wikidata height") (eq .Instant.Type "wikidata weight")}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;">
          {{WikiData .Instant $context.Region|SafeHTML}}
          </div>
          {{template "source" .}}
        </div>
        {{end}}
      {{else if eq .Instant.Type "wikiquote"}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:0px;">
          {{range $i, $q := .Instant.Solution}}
            {{if le $i 3}}
            <p><span style="font-size:14px;font-style:italic;">{{$q|SafeHTML}}</span></p>
            {{end}}
          {{end}}
          </div>
          {{template "source" .}}
        </div>
        {{end}}
      {{else if eq .Instant.Type "wiktionary"}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;">
            <p>
              <span style="font-size:18px;">
                <em><a href="https://{{.Instant.Solution.Language}}.wiktionary.org/wiki/{{.Instant.Solution.Title}}" style="color:#333;">{{.Instant.Solution.Title}}</a></em>
              </span>
            </p>
            {{range $i, $d := .Instant.Solution.Definitions}}
            <span style="font-size:14px;font-style:italic;">{{$d.Part}}</span><br>
            <span style="display:inline-block;margin-left:15px;">{{$d.Meaning}}</span><br>
            {{if $d.Synonyms}}
              <span style="display:inline-block;margin-left:15px;font-style:italic;color:#666;">synonyms:&nbsp;</span>
              {{- range $j, $s := $d.Synonyms -}}
              <a href="https://{{$s.Language}}.wiktionary.org/wiki/{{$s.Word}}">{{if $j}}, {{end}}{{$s.Word}}</a>
              {{- end -}}
              <br>
            {{end}}
            <br>
            {{end}}
          </div>
          {{template "source" .}}
        </div>
        {{end}}
      {{else if eq .Instant.Type "hash"}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;">{{.Instant.Solution.Solution}}</div>
          <div style="margin:15px;margin-bottom:5px;">{{.Instant.Solution.HashAlgo}} hash: {{.Instant.Solution.Original}}</div>
        </div>
        {{end}}
      {{else}}
        {{if .Instant.Solution}}
        <div id="answer" class="pure-u-1">
          <div style="margin:15px;margin-bottom:5px;">{{.Instant.Solution}}</div>
        </div>
        {{end}}
      {{end}}
      </div>
    </div>
    <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
    <div id="results_container" class="pure-u-1 pure-u-xl-22-24">{{template "search_results" .}}</div>
    {{end}}
  {{else}}
  <div class="pure-u-1 pure-u-xl-2-24 spacer"></div>
  <div id="results_container" class="pure-u-1 pure-u-xl-22-24">{{template "search_results" .}}</div>
  {{end}}
{{end}}
</div>
{{else}}
<div class="pure-g">
  <div id="container" class="pure-u-1">
    <div style="text-align:center;">
      <div class="pure-u-22-24">
        {{if .Brand.Logo}}
          {{.Brand.Logo|SafeHTML}}
        {{else}}
        <svg width="205" height="65" style="cursor:pointer;">
          <defs>
            <style>
              #logo {
                font-size: 36px;
                font-family: 'Open Sans',sans-serif;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }            
            </style>
          </defs>            
          <g><text id="logo" x="7" y="35" fill="#000">Jive Search</text></g>
        </svg>
        {{end}}
        {{template "search_form" .}}
        <br>
        {{if .Brand.TagLine}}<div id="tagline">{{.Brand.TagLine}}</div>{{end}}
        <div class="pure-u-1">
          <button id="add_to_browser" class="pure-button pure-button-primary" style="border-radius:4px;text-shadow:0 1px 1px rgba(0, 0, 0, 0.2);margin-top:125px;cursor:pointer;">
            <span>Protect your privacy!</span>
            <span id="add_me"></span>
          </button>
        </div>
        <div id="instructions" class="pure-u-6-24" style="text-align:left;font-size:16px;padding:15px;box-shadow:rgba(0,0,0,.25) 0 1px 2px 0;display:none;">
          <div id="chrome_instructions" style="display:none;">
            <div class="instructions">1. Right click on the address bar.</div>
            <div class="instructions">2. Select <em>Edit search engines...</em> in the dropdown menu.</div>
            <div class="instructions">3. Click on the three-dot menu next to "{{if .Brand.Name}}{{.Brand.Name}}{{else}}Jive Search{{end}}".</div>
            <div class="instructions">4. Click <em>Make default</em>.</div>
          </div>
          <div id="edge_instructions" style="display:none;">
            <div class="instructions">1. Click the <em>...</em> icon in the top right.</div>
            <div class="instructions">2. Select <em>Settings</em> at the bottom.</div>
            <div class="instructions">3. Select <em>View advanced settings</em> towards the bottom.</div>
            <div class="instructions">4. Select <em>Change search engine.</em></div>
            <div class="instructions">3. Find "{{if .Brand.Name}}{{.Brand.Name}}{{else}}Jive Search{{end}}" and click <em>Set as default</em>.</div>
          </div>
          <div id="firefox_instructions" style="display:none;">
            <!--Add-on instructions-->
            <!--
            <div class="instructions">1. <span id="load_ff_addon" style="cursor:pointer;text-decoration:underline;"><em>Click here</em></span> to add the {{if .Brand.Name}}{{.Brand.Name}}{{else}}Jive Search{{end}} add-on to Firefox.</div>
            <div class="instructions">2. Click <em>Allow,</em> then <em>Add.</em></div>
            -->
            <div class="instructions">1. <span id="load_ff_addon" style="cursor:pointer;text-decoration:underline;"><em>Click here</em></span> to add {{if .Brand.Name}}{{.Brand.Name}}{{else}}Jive Search{{end}} to your list of search engines.</div>
            <div class="instructions">2. Check the box in the pop-up then click <em>Add.</em></div>
          </div>
          <div id="safari_instructions" style="display:none;">
            <div class="instructions">1. Install the <a href="https://safari-extensions.apple.com/details/?id=com.matt-swain.anysearch-6M853ET88Q">AnySearch extension</a>.</div>
            <div class="instructions">2. In Safari select <em>Safari > Preferences > Extensions > AnySearch</em></div>
            <div class="instructions">3. Select <em>Custom</em> in the dropdown and type in "{{if .Brand.Host}}{{.Brand.Host}}{{else}}https://jivesearch.com/{{end}}?q=@@@"</div>
          </div>
          <div id="vivaldi_instructions" style="display:none;">
            <div class="instructions">1. Right click on the {{if .Brand.Name}}{{.Brand.Name}}{{else}}Jive Search{{end}} search field.</div>
            <div class="instructions">2. Select <em>Add as Search Engine...</em> in the dropdown menu.</div>
            <div class="instructions">3. Check <em>Set as Default Search</em> then click <em>Add</em>.</div>
          </div>
        </div>
      </div>
      <div id="about_us" style="position:absolute;right:0;bottom:0;left:0;padding:1rem;background-color:#efefef;text-align:center;">
        <a href="/about">About Us.</a>
      </div>
    </div>
  </div>
</div>
{{end}}
{{end}}