
.icon-globe:before { content: '\e800'; } /* '' */
.icon-itunes:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-windy-rain-inv:before { content: '\e803'; } /* '' */
.icon-hail-inv:before { content: '\e806'; } /* '' */
.icon-clouds-inv:before { content: '\e807'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e808'; } /* '' */
.icon-temperature:before { content: '\e809'; } /* '' */
.icon-compass:before { content: '\e80a'; } /* '' */
.icon-na:before { content: '\e80b'; } /* '' */
.icon-fahrenheit:before { content: '\e80c'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e80d'; } /* '' */
.icon-sun-inv:before { content: '\e80e'; } /* '' */
.icon-moon-inv:before { content: '\e80f'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e810'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e811'; } /* '' */
.icon-cloud-inv:before { content: '\e812'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e813'; } /* '' */
.icon-drizzle-inv:before { content: '\e814'; } /* '' */
.icon-rain-inv:before { content: '\e815'; } /* '' */
.icon-windy-inv:before { content: '\e816'; } /* '' */
.icon-windy-rain:before { content: '\e817'; } /* '' */
.icon-windy:before { content: '\e818'; } /* '' */
.icon-rain:before { content: '\e819'; } /* '' */
.icon-drizzle:before { content: '\e81a'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e81b'; } /* '' */
.icon-cloud-flash:before { content: '\e81c'; } /* '' */
.icon-cloud:before { content: '\e81d'; } /* '' */
.icon-fog:before { content: '\e81e'; } /* '' */
.icon-fog-cloud:before { content: '\e81f'; } /* '' */
.icon-fog-moon:before { content: '\e820'; } /* '' */
.icon-fog-sun:before { content: '\e821'; } /* '' */
.icon-cloud-moon:before { content: '\e822'; } /* '' */
.icon-cloud-sun:before { content: '\e823'; } /* '' */
.icon-wind:before { content: '\e825'; } /* '' */
.icon-mist:before { content: '\e826'; } /* '' */
.icon-eclipse:before { content: '\e827'; } /* '' */
.icon-moon:before { content: '\e828'; } /* '' */
.icon-sun:before { content: '\e829'; } /* '' */
.icon-sunrise:before { content: '\e82a'; } /* '' */
.icon-hail:before { content: '\e82e'; } /* '' */
.icon-clouds:before { content: '\e82f'; } /* '' */
.icon-clouds-flash:before { content: '\e830'; } /* '' */
.icon-celcius:before { content: '\e831'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-imdb:before { content: '\f2d8'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */